* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-collapse: collapse; }

body {
  position: relative;
  height: 11in;
  width: 8.5in;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Hoefler Text", "Palatino", "Times New Roman", "Times", serif;
  font-size: 16px/23px; }

#carapace {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid #000000;
  border-collapse: collapse; }

.block-row {
  position: relative;
  display: table-row;
  margin: 0;
  padding: 0;
  /* border: $border; */
  text-align: center; }

.block-cell {
  position: relative;
  display: table-cell;
  vertical-align: top;
  margin: 0;
  padding: 0.25in;
  border: 1px solid #000000; }

.block-block {
  position: relative;
  display: block;
  width: 3.75in;
  height: 5in;
  padding: 0.25in;
  margin: 0;
  border: 1px solid #000000;
  overflow: hidden; }

.block-row:first-child .block-cell:first-child {
  border-top: 0 !important;
  border-left: 0 !important; }
.block-row:first-child .block-cell:last-child {
  border-top: 0 !important;
  border-right: 0 !important; }
.block-row:last-child .block-cell:first-child {
  border-bottom: 0 !important;
  border-left: 0 !important; }
.block-row:last-child .block-cell:last-child {
  border-bottom: 0 !important;
  border-right: 0 !important; }

.sheet_line, .name, .vitals, .stats-line, .attrs-block {
  position: relative;
  padding: 0;
  margin: 0.25in 0; }

.name {
  font-size: 23px;
  line-height: 100%;
  font-weight: bold;
  margin: 0; }

.vitals {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0.125in 0; }

.vitals > div {
  display: inline-block;
  flex-basis: auto;
  text-align: center; }
  .vitals > div:first-child {
    margin-left: 0;
    text-align: left; }
  .vitals > div:last-child {
    margin-right: 0;
    text-align: right; }

.stats-line {
  margin: 0.25in 0 0.35in 0; }

.stat-block {
  display: inline-block;
  width: 10%;
  margin: 0;
  padding: 0; }

.stat-block[pad=right] {
  margin-right: 0.25in; }

.stat-val, .stat-hrd {
  display: block;
  clear: both;
  text-align: center; }

.stat-val {
  font-size: 24px;
  line-height: 75%; }

.attrs-block {
  margin: 12px 0;
  text-align: left; }

.attrs-block > h2 {
  margin: 0;
  color: #999999;
  font-size: 16px;
  font-weight: bold; }

.attrs-block > p {
  position: relative;
  margin: 0;
  width: 100%;
  height: 24px;
  line-height: 36px;
  border-bottom: 1px solid; }

.attrs-block > hr {
  display: block;
  height: 23px;
  margin: 0;
  padding: 0;
  border: none; }

.attrs-block > .list-icon {
  position: absolute;
  height: 2.5em; }

#persn-icon {
  height: 26px;
  top: -3px;
  right: 0; }

#profs-icon {
  height: 32px;
  top: -9px;
  right: 0; }

#wpons-icon {
  height: 24px;
  top: -3px;
  right: 0; }

#armrs-icon {
  height: 24px;
  top: -2px;
  right: 0; }

#items-icon {
  height: 24px;
  top: -2px;
  right: 0; }

#magis-icon {
  height: 32px;
  top: -9px;
  right: 0; }

/*# sourceMappingURL=styles.css.map */
